---
import Section from "../Section.astro";
import {skills} from "@cv"
import ASTRO from "@/icons/AstroSvg.astro"
import BUN from "@/icons/Bun.astro"
import CSS from "@/icons/Css.astro"
import DOCKER from "@/icons/Docker.astro"
import Git from "@/icons/Git.astro"
import HTML from "@/icons/Html.astro"
import JAVA from "@/icons/Java.astro"
import JavaScript from "@/icons/Javascript.astro"
import Mongo from "@/icons/Mongo.astro"
import Node from "@/icons/Node.astro"
import Postman from "@/icons/Postman.astro"
import Quarkus from "@/icons/Quarkus.astro"
import React from "@/icons/React.astro"
import SpringBoot from "@/icons/SpringBoot.astro"
import SQL from "@/icons/Sql.astro"
import Tailwind from "@/icons/Tailwind.astro"
import TypeScript from "@/icons/TypeScript.astro"


const SKILLS_ICONS: Record<string, any> = {
  ASTRO,
  BUN,
  JAVA,
  Mongo,
  Quarkus,
  SpringBoot,
  CSS,
  DOCKER,
  Git,
  HTML,
  JavaScript,
  Node,
  Postman,
  React,
  SQL,
  Tailwind,
  TypeScript,
}
---

<Section title="Habilidades">
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name
        const Icon = SKILLS_ICONS[iconName]

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        )
      })
    }
  </ul>
</Section>
<style>
      ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #cacaca;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
  li:hover {
    background: #606060;
  }
</style>